/* onimm.css */ 


body {
  /*background-color: rgba(0,210,210,0.8);*/
  background-color: transparent;
}

#onimm_ {
  position: relative;
  left: 125px;
}

body.jobs-text-body {
  padding: 0 1px;
  width: 120px;
  height: 60px;
  background-color: transparent;
}

.bubble-foreignObject {
  padding: 0;
  cursor: move;
}

body.bubble-body {
  padding: 0;
  background-color: transparent;
}

img.bubble {
  width: 100%;
  height: 100%;
}

body.modale-body {
  padding: 2px;
  background-color: transparent;
}

.modale-container {
  position: relative;
  margin: 2px;
  padding: 2px;
  background-color: rgba(22,254,254,0.8);
  cursor: default;
}

.modale-overflow {
  position: relative;
  background-color: transparent;
  overflow-y: hidden;
}

.modale-div {
  position: relative;
  float: left;
  height: 700px;
}

.modale-text {
  width: 98%;
}

.help-text-legend {
  color: #FC8C2E;
}

.help-text-legend:hover {
  font-weight: bold;
  cursor: help;
}

body.modale-close-body {
  padding: 0;
  background-color: transparent;
}

body.legend-close-body {
  padding: 0;
  background-color: transparent;
}

body.help-text-body {
  padding: 0;
  background-color: transparent;
}

body.info-hover-body {
  padding: 0;
  background-color: transparent;
}

img.modale-close-icon {
  padding: 0;
  cursor: pointer;
}

.modale-arrow-body {
  padding: 0;
  background-color: transparent;
}

img.modale-arrow-icon {
  cursor: pointer;
}

/* Modale Window */

.modale-h2 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.modale-h3 {
  text-align: left;
  font-style: italic;
  font-size: 14.5px;
  margin: 15px 0 12px;
}

.modale-h4 {
  text-align: left;
  font-size: 12.5px;
  color: #0D7B92;
  margin: 10px 0 10px;
}

.modale-h5 {
  text-align: left;
  font-size: 12.5px;
  font-style: italic;
  margin: 8px 0 8px;
}

.modale-bloc-p {
  text-align: left;
  font-size: 10px;
  margin: 8px 0 8px;
}

#onimm_svg_ {
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(229,229,229,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,0) 0%,rgba(229,229,229,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  overflow-y: scroll;
  cursor: grab;

}

.draggable {
  cursor: move;
}

.dragging {
  fill: rgba(0,65,200,0.4);
  stroke: #212121;
  cursor: grabbing;
}

.circle {
  fill: #ccc;
  stroke: #12BD55;
  stroke-width: 1.5px;
  cursor: move;
}

.jobs {
  fill-opacity: 1;
  pointer-events: all;
}

.jobs-text {
  cursor: move;
  font-size: 15px;
  position: relative;
  margin: 0 1px;
  padding: 2px;
  width: 120px;
  text-align: center;
}

.g_container_legend {
  cursor: default;
}

.text-legend {
  cursor: default;
  font-size: 13px;
  position: relative;
  margin: 0 1px;
  padding: 2px;
  width: 120px;
  text-align: center;
}

.info-hover {
  padding: 5px;
  background-color: #fff;

  -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
          box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px 10px 10px 10px;
          border-radius: 10px 10px 10px 10px;
}

.info-hover-text {
  font-size: 10px;
}

.active_node img, .active_node .bubble-foreignObject{
  width: 60px;
  height: 60px;
}

.active_node .jobs-text {
  font-weight: bold;
}