/* main layout and display of onisep mind map - last update 18/06/2014 by <jta@onisep.fr> */

@import "framework";

.onimm-container {
	position: relative;
	margin: auto;
	min-width: 800px;
	width: 800px;

	.onimm-svg {

		.bonds-container {
			.is-active-node {
				display: none;
			}
		}

		.jobs-container {
			.jobs {
				.jobs-text-foreignObject {
					.jobs-text-body {
						.jobs-text {
							position: relative;
							margin: 0 10px 0 0;
							padding: 2px;
							width: 120px;
							text-align: center;
						}
					}
				}
				.bubble-foreignObject {
					.bubble-body {
						.bubble {
							position: relative;
							margin:-7px 0 0 -7px;
							width:38px;
							height:38px;
						}

						.bubble-info-icon {
							position: relative;
							margin:-8px 0 0 -8px;
							width:60px;
							height:60px;
						}
					}
				}
			}

			.is-active-jobs {

			}
		}

		.info-job-foreignObject {
			.info-job-body {
				margin: 25px;
				.info-job {
					margin: 5px 0 5px 30px;
					padding: 5px;
					.info-job-title {
						margin: -15px 0 10px;
						text-align: left;	
					}
					.info-job-text {

					}
					.info-job-text-interet {

					}
					.info-job-more {

					}
					.info-close {
						position: relative;
						margin: -30px 0 0 96%;
						padding: 2px;
						width: 50px;
						height: 50px;
						.info-close-icon {
							position: relative;
							margin: 5px;
						}
					}
				}
			}
		}

		.legend-container {

			.legend-foreignObject {
				.legend-body {
					.legend-div {
						position: relative;
						margin: -10px;		
					}
				}
			}

			.legend-image-foreignObject {
				.legend-image-body {
					margin: 0;
					.legend-image {

					}
				}
			}

			.legend-text-foreignObject {
				.legend-text-body {
					.legend-text {
						position: relative;
						margin: -10px 0 0 12px;
					}
				}
			}

			.legend-instructions-foreignObject {
				.legend-instructions-body {
					.legend-instructions{
						position: relative;
						margin: -5px 0 0 0;
					}
				}
			}

			.legend-close-foreignObject {
				.legend-close-body {
					margin: 0;
					.legend-close-icon {

					}
				}
			}
		}

		.historic-container {

			.historic-image-foreignObject {

				.historic-image-body {
					margin: 0;
					.historic-image {

					}

				}

			}

			.historic-title-foreignObject {
				.historic-title-body {
					.historic-title {

					}
				}
			}

			.hist-nodes {
				.hist-circle {

				}

				.hist-nodes-foreignObject {
					.hist-nodes-body {
						.hist-nodes-div {
							margin: -10px 0 0 25px;
							.hist-nodes-text {
							}
						}
					}
				}

				.hist-bubble-foreignObject {
					.hist-bubble-body {
						.hist-bubble {
							position: relative;
							margin: -40px 0 0 -6.5px;
							width:19px;
							height:19px;
						}
					}
				}
			}
		}

		.help {
			.help-text-foreignObject {
				.help-text-body {
					.help-text-legend {
					
					}
				}
			}
		}

		.other-jobs-container {

			.other-jobs {

				.other-jobs-circle {

				}

				.other-jobs-text-foreignObject {
					.other-jobs-text-body {
						.other-jobs-text {

						}
					}
				}

				.other-jobs-bubble-foreignObject {
					.other-jobs-bubble-body {
							margin:0;
						.other-jobs-bubble {
							position: relative;
							margin: 0.8px 0 0 1.5px;
							width:18px;
							height:18px;
						}
					}
				}

			}
		}

	}

}

