/* theme of onisep mind map - last update 18/06/2014 by <jta@onisep.fr> */

@import "framework";

@include font_face('exoregular','../fonts/exo/exoregular');

$orange : #FF400D;
$blue_text_shadow: #8B87FF;
$background_color_jobs_circle : #AAA;
$background_color_other_jobs : rgba(240,240,240,0.7);
$color_other_jobs_text: rgba(0,0,0,0.9);

.onimm-container {
	font-family: 'exoregular', Verdana, sans-serif;

	.onimm-svg {
		@include onimm_gradient();

		.bonds-container {
			.is-active-node {
				display: none;
			}

			.bond {
				fill: none;
				stroke-linecap: butt;
			}
		}

		.jobs-container {
			.jobs {
				cursor: move;

				.is-draggable {
					cursor: pointer;
				}

				.is-dragging {
				}

				.jobs-circle {
					fill: $background_color_jobs_circle;
					stroke-width: 2.5px;
				}

				.jobs-text-foreignObject{
					.jobs-text-body {
						background: transparent;

						.jobs-text {
							font-size: 14.5px;
							text-shadow: 0 1px 2px $blue_text_shadow;
							&::first-letter {
								text-transform: uppercase;
							}
						}
					}
				}
				.bubble-foreignObject {

					.bubble-body {
						.bubble {
						}
						.bubble-info-icon {
						}
					}
				}
			}

			.is-active-jobs {
				font-weight: bold;
				cursor:help;
			}
		}

		.info-job-foreignObject {
			.info-job-body {
				.info-job {

					cursor: text;

					background-color: #fff;

					-webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.9);
				     		box-shadow: 0 0 15px 5px rgba(0,0,0,0.9);

					-webkit-border-radius: 10px 10px 10px 10px;
				    		border-radius: 10px 10px 10px 10px;

					.info-job-title {
						font-family: Verdana, sans-serif;
						font-size: 12.5px;
						color: #0D7B92;
					}
					.info-job-text {
						font-family: Verdana, sans-serif;
						font-size: 10px;
					}
					.info-job-text-interet {
						font-family: Verdana, sans-serif;
						font-size: 10px;
					}
					.info-job-more {
						font-family: Verdana, sans-serif;
						font-weight: bolder;
						font-size: 8px;
					}
					.info-close-icon {
						cursor: default;
					}
				}
			}
		}

		.legend-container {
			.legend-image-foreignObject {
				.legend-image-body {
					.legend-image {

					}
				}
			}

			.legend-text-foreignObject {
				.legend-text-body {
					.legend-text {
						font-size: 14px;
					}
				}
			}

			.legend-instructions-foreignObject {
				.legend-instructions-body {
					.legend-instructions {
						font-size: 11px;
					}
				}
			}

			.legend-close-foreignObject {
				.legend-close-body {
					.legend-close-icon {
						cursor: default;
					}
				}
			}
		}

		.historic-container {

			.historic-image-foreignObject {

				.historic-image-body {
					.historic-image {
						cursor:help;
					}

				}

			}

			.historic-title-foreignObject {
				.historic-title-body {
					.historic-title {
						font-weight: bold;
						font-size: 15px;
					}
				}
			}

			.hist-nodes {
				.hist-circle {
					fill: $background_color_jobs_circle;
					stroke-width: 2.5px;
				}

				.hist-nodes-foreignObject {
					.hist-nodes-body {
						.hist-nodes-div {
							.hist-nodes-text {
								font-size: 11px;
								text-shadow: 0 1px 2px $blue_text_shadow;
								&::first-letter {
									text-transform: uppercase;
								}
							}
						}
					}
				}

				.hist-bubble-foreignObject {
					.hist-bubble-body {
						.hist-bubble {

						}
					}
				}

			}
		}

		.help {
			.help-text-foreignObject {
				.help-text-body {
					.help-text-legend {
						cursor:help;
						color: $orange;
						&:hover {
							font-weight: bold;
						}
					}
				}
			}
		}

		.other-jobs-container {

			.other-jobs {

				.other-jobs-circle {
					fill: $background_color_other_jobs;
					stroke-width: 1.5px;
				}

				.other-jobs-text-foreignObject {
					.other-jobs-text-body {
						.other-jobs-text {
							display: none;
							color: $color_other_jobs_text;
							font-size: 10px;
						}
					}
				}

				.other-jobs-bubble-foreignObject {
					.other-jobs-bubble-body {
						.other-jobs-bubble {

						}
					}
				}
				
			}
		}
	}
}